{% extends 'index.html' %}

{% block content %}
<div class="container-fluid py-5">
    <h1 class="display-6 fw-bold">Get notified when slots become available</h1>
    <p class="col-md-8 fs-4">
        Create <u>customised alerts</u> as per your requirement, based on
        <u>pincode, age group, vaccine, dose, fees</u>, etc.
        <br>
        Get notified instantly whenever slots become available for you.
    </p>
    <button class="btn btn-primary btn-lg disabled" type="button">Set Alerts <span class="fst-italic">(coming soon)</span></button>
</div>
{% endblock %}
